<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>AngularBootstrap</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <div class="container justify-content-center align-items-center minh-100">
    <div class="row col-md-12">
      <div class="col-md-4" *ngFor="let hero of listheroesFinal; let i = index">
        <div class="card">
          <div class="card-body">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{hero.name}}</mat-card-title>
                <mat-card-subtitle>{{hero.publisher}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image [src]="hero.picture" alt="Photo of a Shiba Inu" routerLinkActive="active" 
              routerLink="/DescriptionHero" (click)="goDescription()">
              <mat-card-content>
                <p>
                  {{hero.info}}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button style="background-color: white;" mat-button>
                  <fa-icon [icon]="faThumbsUp" class="colorUp" (click)="like(hero,i)"></fa-icon>
                </button>
                <button style="background-color: white;" mat-button>
                  <fa-icon [icon]="faThumbsDown" class="colorDown" (click)="dontLike(hero,i)"></fa-icon>
                </button>
              </mat-card-actions>
            </mat-card>
            <br>

          </div>

        </div>

      </div>

    </div>
    <br>
    <div *ngIf="numShops" class="abs-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a *ngIf="page > 1" class="page-link" href="#" (click)="anterior()">Anterior</a>
          </li>
          <div *ngFor="let numn of cantP; let num = index">
            <li class="page-item"><a class="page-link" href="#" (click)="pageGo(num+1)">{{num+1}}</a></li>
          </div>
          <li class="page-item"><a *ngIf="page < totalPages" class="page-link" href="#"
              (click)="siguiente()">Siguiente</a></li>
        </ul>
      </nav>
    </div>
  </div>




  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>